<div id="render_container">
  <div id="render"></div>
  <div class="data-button">
    <p class="info-extra">Neo-Elem: Conectando planetas</p>
    <img src="/neo.png" alt="logo">
  </div>
</div>

<script>
  import * as THREE from "three";
  import { GLTFLoader } from "three/addons/loaders/GLTFLoader.js";
  import { OrbitControls } from "three/addons/controls/OrbitControls.js";

  const container = document.getElementById("render") as HTMLElement;

  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera(
    50,
    container.clientWidth / container.clientHeight,
    0.1,
    1000
  );
  const renderer = new THREE.WebGLRenderer({ alpha: true });
  renderer.setSize(container.clientWidth, container.clientHeight);
  container.appendChild(renderer.domElement);

  const controls = new OrbitControls(camera, renderer.domElement);
  controls.update();

  const light = new THREE.AmbientLight(0xffffff, 10);
  scene.add(light);

  const loader = new GLTFLoader();
  loader.load("prototype.glb", (glb) => {
    const model = glb.scene;
    scene.add(model);

    const box = new THREE.Box3().setFromObject(model);
    const size = box.getSize(new THREE.Vector3()).length();
    const center = box.getCenter(new THREE.Vector3());

    camera.position.set(center.x, center.y, size * 1.0);
    camera.lookAt(center);
  });

  function animate() {
    requestAnimationFrame(animate);
    controls.update();
    renderer.render(scene, camera);
  }
  window.addEventListener("resize", () => {
    const width = container.clientWidth;
    const height = container.clientHeight;
    renderer.setSize(width, height);
    camera.aspect = width / height;
    camera.updateProjectionMatrix();
  });

  animate();
</script>

<style>
  #render_container {
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  #render {
    width: 100%;
    height: 60%;
  }
  .data-button{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info-extra{
    color:black;
    font-size: small;
    text-shadow: 2px 2px 4px #ffffff, -2px -2px 4px #ffffff;
  }
  img{
    width: 20%;
  }
</style>
