---
import Card from "../Card.astro";
---
<div id="Informacion" class="Informacion">
    <Card
    title="Materiales"
    body="Placas solares, Tanques de acero inoxidable, Celdas de combustible, Celdas electroliticas, Baterias, Convertidores, Extractores para recoger el co2"
    href=""/>
    <Card
    title="Procesos"
    body="recogemos el dioxido de carbono de marte, los reaccionamos con hidrogeno y lo convertimos en metano y agua, el metano lo introducimos en las celdas de combustion para producir energia, el agua obtenida la utilizaremos para obtener hidrogeno y oxigeno, llevando asi a un proceso continuo y sustentable."
    href=""/>
    <Card
    title="Costos"
    body="Los costos incluirán la fabricación y transporte de los materiales y equipos necesarios, el desarrollo y mantenimiento de la tecnología para la extracción de CO2, electrólisis y conversión de CO2 en metano, así como los sistemas de almacenamiento y gestión de energía. Además, se debe considerar el coste de la investigación y desarrollo continuos para optimizar el proceso y asegurar su funcionamiento eficaz en el ambiente marciano."
    href=""/>
    <Card 
    title="Viabilidad"
    body="La viabilidad del proyecto dependerá de varios factores como la eficiencia de los procesos y tecnologías involucradas, la capacidad para transportar y establecer el equipo necesario en Marte, y la posibilidad de mantener y operar el sistema en las condiciones ambientales marcianas. La colaboración con agencias espaciales y la obtención de financiamiento adecuado también serán cruciales para la viabilidad del proyecto. Además, la evaluación y mitigación de riesgos asociados con las operaciones en Marte serán esenciales para asegurar el éxito del proyecto."
    href=""/>
    <Card
    title="Referencias"
    body=""
    href="https://docs.google.com/document/d/1q_wJseycNWPg9kGkeC9_JwGcgH13l3Dk/edit?usp=sharing&ouid=109723239155057983474&rtpof=true&sd=true"
    />

</div>
<style>
    .Informacion{
        width: 100%;
        height: 94vh;
        scroll-margin-top:6vh;
        box-sizing:border-box;
        padding:3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        gap: 2vh;
    }
    .home p{;
        width:80%;
        height:50%;

    }
</style>